<a class="btn btn-success" href="/auth/google_oauth2"><i class="icon-google-plus-sign icon-large"></i> Login with GMail</a>
<hr />

<form action="/wait-list" method="post">
  <h1>Leave your email if your interested in early access.</h1>
  <input type="text" name="email">
  <p><input type="submit" value="Send!"></p>
</form>

<p>Try also the <a href="/notworking">not working</a> form!</p>