<div class="add-accounts">
  <a class="btn btn-success" type="button" href="/auth/meetup">Add Meetup Account</a>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Provider</th>
      <th>UID</th>
    </tr>
  </thead>
  <tbody>
    <% current_user.accounts.each do |account| %>
    <tr>
      <td><%= account.provider %></td>
      <td><%= account.provider_uid %></td>
    </tr>
    <% end %>
  </tbody>
</table>