<div class="row">
  <div class="span12 content-block">
    Welcome to the Eventbox.io alpha.  Since you landed here, you either talked
    directly with Charlie or where invited by another alpha user.  Thanks for
    actually showing up.<br />
    <br />
    Eventbox.io will eventually be the best way to manage your social events online,
    but if you sign up today, let's see how much trouble you'll be getting into
    ᕦ(ò_óˇ)ᕤ:
  </div>
</div>

<div class="row">
  <div class="span12 content-block">
    <p>As of the last time this was written, Eventbox.io supports syncing your  Meetup.com with your Google Calendar.  It does this semi-smartly fashion
    by assigning all upcoming events to a specific calendar and all attending/waitlisted events into a seperate calendar.  This enables easily
    toggling of either when not needed.</p>
  </div>
</div>

<div class="row">
  <div class="span12 content-block">
    <p>
      Showing the Upcoming Events and Attending Events calendars.
      <img src="/assets/calendar_upcoming.png" alt="Upcoming calendar enabled" />
    </p>
    <br />
    <p>
      Showing just the Attending Events calendar.
      <img src="/assets/calendar_attending.png" alt="Upcoming calendar disabled" />
    </p>
  </div>
</div>

<div class="row">
  <div class="span12 content-block">
    <p>
      Finally, Eventbox.io keeps everything up to date for you.  As new events come in,
      they will be automatically created for in the appropriate calendars.  If you RSVP to an event, Eventbox.io will
      take care of moving it to the right calendar.<br />
      <br />
      No more scratching your head
      to see what's available to go to today or wondering if you're busy when
      that meetup your interested in is running.<br />
      <br />
      Plus whatever features have been developed since this was written.
    </p>
  </div>
</div>

<div class="row">
  <div class="span12 content-block">
    <p>
      This is <strong style="color: red;">alpha</strong> software.  It will break;
      it will look messed up; strange things will happen.  Your feedback is
      greatly appreciated.  Though, if you already
      made it here, you probably knew that.  MVPs ftw!<br />
      <br />
      If you have any questions before signing up, please email me at
      <strong><em>charlie@robopengu.in</em></strong>.
    </p>
    <br />
    <p>
      Sign up requires a Google Account so that we can access your GCal.  Also,
      without a Meetup account, not much will happen.  Finally, you'll need your
      access code that should have been given to you by your referrer.<br />
      <br />
      <a class="btn btn-success" href="/auth/google_oauth2">
        Sign in with your Google Account
      </a>
    </p>
  </div>
</div>