<div class="row">
  <div class="span12 content-block">
    <strong>Welcome to the eventbox.io alpha.</strong>
    <p>
      As of right now, eventbox.io supports syncing (sort of) between your GCal
      and Meetup.com account.  To get any use out of this service, you'll need
      to have both of those.
    </p>
    <br />
    <p>
      <a class="btn btn-success" href="/auth/google_oauth2">
        Sign in with your Google Account
      </a>
    </p>
  </div>
</div>

<div class="row">
  <div class="span12 content-block">
    <p>
      <em>Showing the both the Upcomming Events and Attending Events calendar.</em><br />
      <img src="/assets/calendar_upcoming.png" alt="Upcoming calendar enabled" />
    </p>
    <br />
    <p>
      <em>Showing just the Attending Events calendar.</em><br />
      <img src="/assets/calendar_attending.png" alt="Upcoming calendar disabled" />
    </p>
  </div>
</div>